---
layout: nohead
---
<!---This is the original resume page, now make it the index page--->

<h2>Biography Information of Weilei Zeng</h2>

<p>Address: MSE 312,
900 University Ave. Riverside CA 92507 USA<br>

Phone: +1 (951) 563-4581 <br>

E-mail: weilei.zeng@email.ucr.edu<br>

Home Page: 
<a href="http://weileizeng.github.io">http://weileizeng.github.io</a></p>


<p class="{% if site.style == 'dark' %}text-white{% endif %}" >
<a class="{% if site.style == 'dark' %}text-white{% endif %}" href="/zwl_assets/weilei-cv.pdf">
    This is my CV
  </a>
</p>

<h2 id="-education">- Education</h2>
<h4 id="phd-in-physics">PhD in Physics</h4>
<p>
  Sept.2015-present<br>
University of California, Riverside, US (UCR)<br>
Interest: quantum error correction, quantum computing, condensed matter physics<br>
  Advisor:  <a href="http://faculty.ucr.edu/~leonid/"> Leonid Pryadko </a></p>

<h4 id="bachelor-in-physics">Bachelor in Physics</h4>
<p>Sept.2010-Jul.2015<br>
Shanghai Jiao Tong University, China (SJTU)</p>


<h2>- Working Experience </h2>
<p>

<li> Jun.2019 – Aug. 2019 <br> Summer Intern at Peng Cheng Lab, Shenzhen, China, working on quantum computing </li>
<li> Jun.2018 – Aug. 2018 <br> Summer Intern at Nokia Bell Labs, working on quantum information </li>
<li> Aug. 2013 <br> Programmer Intern (C#, Unity3D), Pearl Digital Entertainment, Shanghai, China </li>

</p>


<h2>- Teaching Assistant Experience </h2>
<p>
  <li> PHYSICS 210 (graduate Electromagnetics)</li>
  <li> PHYSICS 221 (graduate Quantum Mechanics) </li>
  <li> PHYSICS 40 (undergraduate labs for general physics) </li>
  <li> PHYSICS 132 (undegraduate Thermophysics) </li>
  <li< PHYSICS 135 (undergraduate Electromagnetics)</li>
</p>

<h2>- Professional Acticities</h2>
<p>

  <h4> Conference organization </h4>
  <li>
      Chair, <a href="http://www.szpclab.com/qas2019/#/studentConference">
      1st Student Conference on Quantum Computing (SCQC) 2019 </a>
  </li>
  <h4> Talks </h4>
  <li> <a href="http://meetings.aps.org/Meeting/FWS18/Session/F03.8">The
  2018 Annual Meeting of the APS Far West Section</a>, Cal State
  Fullerton, CA </li>
  <li> Invited talk in 90kmiles, Shanghai, China</li>
  <h4> Posters </h4>
  <li> <a href="http://www.szpclab.com/qip2020#/homepage"> QIP 2020 </a>, Shenzhen, China </li>
  <li> <a href="http://www.szpclab.com/qas2019/#/homepage"> quantum Algorithm and Software (QAS) 2019</a>, Shenzhen, China</li>
  <li> <a href="http://qec19.iopconfs.org/home"> Quantum Error Correction (QEC) 2019</a>, London, UK </li>
  <h4> Attendee</h4>
  <li> APS March Meeting 2019, Boston </li>
  <li> E3 2017, LA </li>
  <li> TeV Experimental Physics Summer School, Shandong University, China </li>
  <li> Summer School in Department of Physics, Tsinghua University, China </li>
</p>

<h2> Skills </h2>

<span class="d-inline-block f5 rounded-2 text-blue bg-yellow py-1 px-2">English</span>
<span class="d-inline-block f5 rounded-2 text-blue bg-yellow py-1 px-2">Chinese</span>
<span class="d-inline-block f5 rounded-2 text-white bg-blue py-1 px-2">C++</span>
<span class="d-inline-block f5 rounded-2 text-white bg-blue py-1 px-2">Python</span>
<span class="d-inline-block f5 rounded-2 text-white bg-blue py-1 px-2">Matlab</span>
<span class="d-inline-block f5 rounded-2 text-white bg-blue py-1 px-2">Java</span>
<span class="d-inline-block f5 rounded-2 text-yellow bg-red py-1 px-2">Latex</span>
<span class="d-inline-block f5 rounded-2 text-yellow bg-red py-1 px-2">Linux</span>
